# Virtual Environment
summ-venv/
venv/
env/
.env

# Files directory (uploaded documents)
files/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml
